<!-- Default form register -->
<form class="text-center border border-light p-5" [formGroup]="User" (ngSubmit)="addUser()">
  <p class="h4 mb-4">Add User</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">
    </div>
    
  </div>

  <!-- E-mail -->
  <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" formControlName="password" class="form-control  mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  
  <!-- Phone number -->
  <input type="text" formControlName="phone" class="form-control  mb-4" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
   

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Add</button>

   <hr>

</form>
<!-- Default form register -->